[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Chad Young
	email = 5580041+wmchad@users.noreply.github.com
[core]
	excludesfile = /Users/chadyoung/.gitignore_global
	precomposeunicode = false
